.btn {
  display: inline-block;
  padding: 0.8rem 1.8rem;

  border: 0;
  border-radius: 0;

  background: none;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  text-decoration: none;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
}

.btn-primary {
  background-color: var(--color-green-dark);
  color: var(--color-text-light);
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--color-rust);
  color: var(--color-text-light);
}

.btn-secondary {
  background-color: var(--color-bg);
  color: var(--color-green-dark);
  transition: all 0.2s ease-in-out;
}

.btn-secondary:hover {
  background-color: var(--color-rust);
  color: var(--color-text-light);
}

.btn-line-primary {
  color: var(--color-text-light);
  border-bottom: 1px solid var(--color-text-light);
  padding: 0.2rem 0;
  transition: all 0.2s ease-in-out;
}

.btn-line-primary:hover {
  color: var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
}

.btn-line-black {
  color: var(--color-text);
  border-bottom: 1px solid currentColor;
  padding: 0.2rem 0;
  transition: color 0.2s ease-in-out;
}

.btn-line-black:hover {
  color: var(--color-rust);
}

.btn-outline-round {
  border-radius: 5rem;
  border: 1px solid var(--color-green-dark);
}
