{% load static %}
<section id="about" class="container container-two-columns">
    <div>
        <span>About Me</span>
        <div class="header">
            <h1>Joshua De Leon</h1>
            <div class="button-horizontal">
                <a target="_blank"
                   href="https://www.linkedin.com/in/joshua-de-leon-8b0310301/">Linkedin</a>
                <a target="_blank" href="https://github.com/joshdels">Github</a>
                <a target="_blank"
                   href="https://docs.google.com/document/d/1cgLC5nZa1zEWc50NGUkG3fRfPHiJ6kymfsaN7GYC6_M/edit?usp=sharing">CV</a>
            </div>
        </div>
        <p>
            I started my GIS journey in 2024, teaching myself QGIS while studying
            Agricultural Engineering and working in research. Since then, I've
            expanded into programming, spatial databases, automation, WebGIS, cloud
            GIS and GeoAI.
        </p>
        <p>
            Today, I build GIS and software solutions for land, utilities, and
            infrastructure, turning fragmented geographic data into structured,
            searchable, and useful systems.
        </p>
        <a href="{% url 'contact' %}" class="btn btn-primary">Connect with Me</a>
    </div>
    <div>
        <img src="{% static 'assets/joshua.jpeg' %}" alt="Joshua De Leon" />
    </div>
</section>
